@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.fit-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}
}

.de-indruk-header {
	background: url('/header-bg-image.png');
	@apply fit-image;
}

.de-indruk-header .overlay {
	background: linear-gradient(90deg, rgba(0,0,0,0.702140231092437) 0%, rgba(0,0,0,0.20073967086834732) 100%);
}

.card__image--blog {
	background: url('/blog-decoration-image.png');
	@apply fit-image;
	background-position: 0 0;
}

.card__image--fietsen {
	background: url('/fietsen.png');
	@apply fit-image;
}

.card__image--fietsen span {
	background: linear-gradient(180deg, rgba(0,0,0,0.702140231092437) 0%, rgba(0,0,0,0.20073967086834732) 100%);
}
